{% extends "home/base.html" %}

	{% block title %}Test{% endblock %}
	{% block section_title %}DUT | Test Setups{% endblock %}
	
	{% block body %}
		<a class="hlink" href="{% url 'dut:newsetup' dut.sn %}"><div id="home_button">
			<h3>New Test Setup</h3>
		</div></a>	
		<table id="list_table">
				<thead>
					<th class="table_head" colspan="1" align="center"><a class="hlink" href="{% url 'dut:test_dut' dut.sn %}">{{ dut.sn }}</a></th>
				</thead>
				<thead>
					<th class="table_head" colspan="1" align="center">{{ dut.name }}</th>
				</thead>
		</table>
		<div id="body_subarea">
			<table id="list_table">
				<thead>
					<th class="table_head" colspan="6">Or select a Test Setup from the list:</th>
				</thead>
				<tbody>
					<tr>
						<td class="columnhead">Function</td>
						<td class="columnhead">Freq Mode</td>
						<td class="columnhead">Freq (Hz)<br> [sweep steps]</td>
						<td class="columnhead">ACL</td>
						<td class="columnhead">Level (V)</td>
						<td class="columnhead">Level (mA)</td>
					</tr>
					{% for setup in test_setups %}
						<tr>
							<td class="tdf">{{ setup.meas_function }}</td>
							<td class="tdf">{{ setup.freq_mode }}</td>
							<td class="tdf">
								<a class="hlinkt" href="{% url 'dut:test_setup' dut.sn setup.id %}">
								{% if setup.freq_mode == 'SF' %}
									{{ setup.freq_single }} [Single]
								{% elif setup.freq_mode == 'MF' %}
									({{ setup.freq_lowlim }} - {{ setup.freq_upplim }}) [{{ setup.bandsize }}]
								{% endif %}
								</a>
							</td>
							<td class="tdf">
								{% if setup.acl %}
									ON
								{% else %}
									OFF
								{% endif %}
							</td>
							<td class="tdf">{{ setup.level_volt }}</td>
							<td class="tdf">{{ setup.level_amp }}</td>
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div>
	{% endblock body %}