#	File extensions to ignore								#
#												#
#												#
#	The rules for the patterns you can put in the 						#
#       .gitignore file are as follows:								#
#												#
#	* Blank lines or lines starting with # are ignored.					#
#	* Standard glob patterns work.								#
#	* You can end patterns with a forward slash (/) to specify a directory.			#
#	* You can negate a pattern by starting it with an exclamation point (!).		#
#												#
#	Glob patterns are like simplified regular expressions that shells use. 			#
#	An asterisk (*) matches zero or more characters; [abc] matches any 			#
#	character inside the brackets (in this case a, b, or c); a question mark(?)		#
#	matches a single character; and brackets enclosing characters separated by 		#
#	a hyphen([0-9]) matches any character in the range (in this case 0 through 9) .		#
#												#
#	A **/ pattern is available in Git since version 1.8.2.	e.g. doc/**/*.txt		#

# 	Python Compiled File	#

*.pyc