/* Stylesheet.css */

{% load staticfiles %}

* {
	font-family:Verdana;
	/*border:10 dashed blue;*/
}

body {
	background-color:#dce7f5;
}
	
#top {
	width:99%;
	height:10%;
	margin:0px 0px 10px 0px;
	background-color:white;
	text-align:center;
	border:5px groove #426ca4;
	border-radius:10px;
}

#top_table {
	width:100%;
	 
}

#main_area {
	width:100%; height:100%;
	background-color:inherit;
	display:flex;
	flex-flow:row wrap; 
	align-content:center;
}

#top_bar {
	width:inherit; height:50px;
	background-color:white;
	margin:0px 0px 10px 0px;
	border: 5px groove #426ca4;
	border-radius:10px;
	padding:0px 10px;
	display:flex;
	flex-flow:column wrap; 
	align-items:center;
}

#top_button {
	width:auto; height:auto;
	background-color:#5388ce;
	margin:5px 0px;
	padding:5px 20px;
	border: 2px groove #4a7ab9;
	border-radius:5px;
	display:flex;
	align-self:center;
	text-align:center;
	font-size:20px; font-weight:650;
}

#body_area {
	width:auto; height:auto;
	background-color:white;
	margin:0px auto; padding:10px;
	border:5px groove #426ca4;
	border-radius:10px;
}

#body_subarea {
	width:auto; height:auto;
	margin:10px auto; padding:10px;
}

.table_head {
	font-size:17px; color:white;
	background-color:#5388ce;
	border:3px solid #426ca4; border-radius:5px;
	padding:5px; margin:10px auto;
	
}

.columnhead {
	font-size:15px; font-weight:bold;
	text-align:center;
	background-color:#dce7f5;
	padding:5px; margin:5px 0px;
	border-radius:5px;
}

.tdf {
	text-align:right;
	padding:6px;
}

#home_button {
	width:150px; heigth:50px;
	background-color:#ce4c1d;
	margin:0px auto; padding:8px;
	border:3px groove #88ce53;
	border-radius:5px;
	text-align:center;
}

.hlink {
	text-decoration:none;
	margin:0px 0px;
	color:white;
}

.hlinkt {
	text-decoration:underline;
	margin:0px 0px;
	color:#696969;
	font-family:Verdana, sans-serif;
	font-size:1em; font-weight:bold;
}

h2 {
	color:#696969;
	font-family:Verdana, sans-serif;
	font-size:1.5em;
}

a:hover {
	text-decoration:underline;
	font-style:italic;
	color:inherit;
}

