<!DOCTYPE html>
<html lang = "en-us">
	
	{% load staticfiles %}
	
	<head>
		<title>{% block title %}{% endblock %} | Impedance Measurement System</title>
		<link type="text/css" rel="stylesheet" href="{% static "css/ss_base.css " %}"/>
	</head>
	
	
	<body>
		<div id="top">
			<table id="top_table" >
				<tr>
					<td width="80%">
						<img src="{% static "img/tcx/logo.jpg " %}" alt="logo" width="250" align="top" />
						<a class="hlink" href="/"><h2>Impedance Measurement System</h2></a>
					</td>
					<td>
						<h3>{% block section_title %}{% endblock %}</h3>
					</td>
				</tr>
			</table>
		</div>
		<div id="main_area">
			<div id="top_bar">
				<a class="hlink" href="{% url 'dut:home' %}"><div id="top_button">
					Home
				</div></a>
				<a class="hlink" href="{% url 'dut:test_index' %}"><div id="top_button">
					Test
				</div></a>
				<a class="hlink" href="{% url 'dut:results_index' %}"><div id="top_button">
					Results Log
				</div></a>
				<a class="hlink" href="{% url 'admin:index' %}"><div id="top_button">
					Admin
				</div></a>
			</div>
		
			<div id="body_area">
				{% block body %}
		
				{% endblock %}
			</div>
	
	</div></body>

</html>