{% extends "home/base.html" %}

	{% block title %}HOME{% endblock %}
	{% block section_title %}HOME{% endblock %}
	
	{% block body %}
        <a class="hlink" href="{% url 'dut:hibachi_index' "Hibachi" %}"><div id="home_button">
			<h3>Hibachi QC Test</h3>
            </div></a><br></br>
    {% endblock %}

    {% block body2 %}
		<a class="hlink" href="{% url 'dut:test_index' %}"><div id="body_button">
			<h3>Test</h3>
		</div></a><br></br>
		<a class="hlink" href="{% url 'dut:results_index' %}"><div id="body_button">
			<h3>Results Log</h3>
		</div></a>
	{% endblock %}